<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания</h1>
    <ul>
        <li><a href="{% url 'advertisement1' %}">Первый курс</a></li>
        <li><a href="{% url 'advertisement2' %}">Второй курс</a></li>
        <li><a href="{% url 'advertisement3' %}">Третий курс</a></li>
        <li><a href="{% url 'advertisement4' %}">Четвертый курс</a></li>
        <li><a href="{% url 'advertisement5' %}">Пятый курс</a></li>
    </ul>
</body>
</html>